#maincounter-wrap {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
#maincounter-wrap h1 {
    font-family: roboto condensed,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #555;
    margin: 0;
}
.maincounter-number {
    font-weight: 700;
    color: #696969;
    font-size: 31px;
}
